UDM_API_URL=https://your-udm-ip
UDM_API_KEY=your-api-key-here
UDM_API_SITE_ID=your-site-id-here
CRON_INTERVAL_MINUTES=5
NPM_IP=XX.XX.XX.XX
NPM_USERNAME=user@domain.org
NPM_PASSWORD='super-secret'
NPM_ACCESS_LIST_NAME='Access-List'